*
{
  font-family: Courier New, monospace;
}

input
{text-align: center;}

.language input
{
  max-width: 300px;
}

.variable input
{
  max-width: 80px;
}

.operator input
{
  max-width: 80px;
}

.print input
{
  max-width: 70px;
}
