<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Create Language</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/create.css') }}">
</head>
<body>
  <form method="post">
    <h3>Variable</h3>
    <input type="text" name="defineVariable" placeholder="var">
    &lt;name&gt;
    <input type="text" name="defineVariable" placeholder="=">
    &lt;value&gt;
  <!--
    <input type="text" name="definePlus">
    <input type="text" name="defineMinus">
    <input type="text" name="defineMultiply">
    <input type="text" name="defineDivide">
    <input type="text" name="defineModulo">
  -->
  </form>
</body>
</html>