<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Create Language</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/create.css') }}">
</head>
<body>
  <form method="post">
    <!-- Variables -->
    <h3>Variables</h3>
    <input type="text" name="variablePrefix" placeholder="var">
    &lt;name&gt;
    <input type="text" name="variableAssignment" placeholder="=">
    &lt;value&gt;
    <br>

    <!-- Operators -->
    <h3>Operators</h3>
    + = <input type="text" name="operatorAddition" placeholder="+">
    <br>
    - = <input type="text" name="operatorSubtract" placeholder="-">
    <br>
    * = <input type="text" name="operatorMultiply" placeholder="*">
    <br>
    / = <input type="text" name="operatorDivide" placeholder="/">
    <br>
    % = <input type="text" name="operatorModulo" placeholder="%">
    <br>

    <!-- Print -->
    <h3>Print</h3>
    <input type="text" name="printOpen" placeholder="print(">
    &lt;value_or_variable&gt;
    <input type="text" name="printClose" placeholder=")">
  </form>
</body>
</html>