<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Create Language</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/create.css') }}">
</head>
<body>
  <i><b>NOTE: If nothing has been written into the input fields, 
the placeholder shown before creation will be the standard.</b></i>

  <form method="post">
    <!-- Language Name -->
    <div class="language">
      <h3>Language</h3>
      <input type="text" name="languageName" placeholder="Language Name">
      <br>
    </div>

    <!-- Variables -->
    <div class="variable">
      <h3>Variables</h3>
      <input type="text" name="variablePrefix" placeholder="var">
      &lt;name&gt;
      <input type="text" name="variableAssign" placeholder="=">
      &lt;value&gt;
      <br>
    </div>

    <!-- Operators -->
    <div class="operator">
      <h3>Operators</h3>
      + = <input type="text" name="operatorAdd" placeholder="+">
      <br>
      - = <input type="text" name="operatorSubtract" placeholder="-">
      <br>
      * = <input type="text" name="operatorMultiply" placeholder="*">
      <br>
      / = <input type="text" name="operatorDivide" placeholder="/">
      <br>
      % = <input type="text" name="operatorModulo" placeholder="%">
      <br>
    </div>

    <!-- Print -->
    <div class="print">
      <h3>Print</h3>
      <input type="text" name="printOpen" placeholder="print(">
      &lt;value_or_variable&gt;
      <input type="text" name="printClose" placeholder=")">
    </div>
    
    <br><hr><br>

    <!-- Create -->
    <div class="create">
      <input type="submit" name="submit" value="Create Language">
    </div>
  </form>
</body>
</html>