<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Interpreter | {{ language.name }}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/interpreter.css') }}">
</head>
<body>
  <h1>{{ language.name }}</h2>
  
  <hr>
  <p><a href="../create">Create new language</a> | <a href="../overview">See language overview</a></p>
  <hr>

  <h2>Syntax for {{ language.name }}</h3>
  
  <!-- Variables -->
  <p>Variables are defined like:</p>
  <code>{{ language.variable.prefix }} x {{ language.variable.assign}} "Hello World"</code>
  <i>Spaces are very important</i>

  <br>

  <!-- Operators -->
  <p>Operators:</p>
<pre><code>
ADDITION:     6 {{ language.operator.add }} 5 = 11 
SUBTRACTION:  6 {{ language.operator.sub }} 5 = 01 
MULTIPLY:     6 {{ language.operator.mul }} 5 = 30 
DIVISION:     6 {{ language.operator.div }} 5 = 1.2
MODULO:       6 {{ language.operator.mod }} 5 = 01
</code></pre>

  <!-- Print -->
  <p>Printing is done by calling the print function like so:</p>
<pre><code>
{{ language.print.open }} "Hello World" {{ language.print.close }}
{{ language.print.open }} variable_name {{ language.print.close }}
{{ language.print.open }} x + y {{ language.print.close }} this only works with numbers
{{ language.print.open }} 2 + 7.5 {{ language.print.close }}
</code></pre>

  <hr>

  <h2>Intepreter</h2>
  <p>Type the code in your language below:</p>
  <textarea rows="12" cols="80" form="interpreterForm" name="codearea">{{ code }}</textarea>
  <form id="interpreterForm" method="post">
     <input type="submit", value="Run">
  </form>

  <hr>

  <h3>Output:</h3>
  <textarea rows="12" cols="80">
{% for line in output %}
{{ line }}
{% endfor %}</textarea>
</body>
</html>
